
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

.default-bg {
    background-color: #F5F8FF;
}

/* shared styles */

.btn-primary {
    background-color: #4E47FF;
    border-radius: 10px;
    padding: 12px 36px;
    border: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.logo {
    color: #4E47FF;
    font-weight: 900;
}

/* headers styles */

.header {
    background-image: url("../images/Hero-bg.png");
    height: 85vh;
}

/* nav styles */

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0px;
    max-width: 1140px;
    margin: 0px auto;
}

nav ul li {
    list-style: none;
}

nav li a {
    text-decoration: none;
}

/* banner styles */

.banner {
    margin: 158px 267.5px 152px 267.5px;
    text-align: center;
}
.banner-title {
    font-size: 65px;
    margin-bottom: 37px;
}

/* action styles */

.action {
    display: flex;
    gap: 220px;
    align-items: center;
    max-width: 1140px;
    margin: 116px auto;
}

.action-title {
    color: #252432;
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 23px;
}

.action-desc {
    color: rgba(37, 36, 50, 0.5);
    font-size: 24px;
    margin-bottom: 23px;
}

.action img {
    border-radius: 48px;
}
